.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}
@-webkit-keyframes fadeInUp {
0%{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes fadeInUp {
0%{opacity:0;-webkit-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px)}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes fadeOutDown {
0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
100%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}
}
@keyframes fadeOutDown {
0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
100%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px)}
}
.fadeOutDown{-webkit-animation-name:fadeOutDown;animation-name:fadeOutDown}
#cookie-banner{-moz-box-sizing:border-box!important;-webkit-box-sizing:border-box!important;box-sizing:border-box!important;background-color:transparent;background-color:rgba(0,0,0,0.8);filter:progid: DXImageTransform.Microsoft.gradient(startColorstr=#CC202020,endColorstr=#CC202020);zoom:1;color:#fff;padding:15px 0px 5px;position:fixed;width:100%;z-index:99999;font-size:12px;-moz-transition:background 250ms ease-out;-o-transition:background 250ms ease-out;-webkit-transition:background 250ms ease-out;transition:background 250ms ease-out}
#cookie-banner html,#cookie-banner body,#cookie-banner div,#cookie-banner span,#cookie-banner applet,#cookie-banner object,#cookie-banner iframe,#cookie-banner h1,#cookie-banner h2,#cookie-banner h3,#cookie-banner h4,#cookie-banner h5,#cookie-banner h6,#cookie-banner p,#cookie-banner blockquote,#cookie-banner pre,#cookie-banner a,#cookie-banner abbr,#cookie-banner acronym,#cookie-banner address,#cookie-banner big,#cookie-banner cite,#cookie-banner code,#cookie-banner del,#cookie-banner dfn,#cookie-banner em,#cookie-banner img,#cookie-banner ins,#cookie-banner kbd,#cookie-banner q,#cookie-banner s,#cookie-banner samp,#cookie-banner small,#cookie-banner strike,#cookie-banner strong,#cookie-banner sub,#cookie-banner sup,#cookie-banner tt,#cookie-banner var,#cookie-banner b,#cookie-banner u,#cookie-banner i,#cookie-banner center,#cookie-banner dl,#cookie-banner dt,#cookie-banner dd,#cookie-banner ol,#cookie-banner ul,#cookie-banner li,#cookie-banner fieldset,#cookie-banner form,#cookie-banner label,#cookie-banner legend,#cookie-banner table,#cookie-banner caption,#cookie-banner tbody,#cookie-banner tfoot,#cookie-banner thead,#cookie-banner tr,#cookie-banner th,#cookie-banner td,#cookie-banner article,#cookie-banner aside,#cookie-banner canvas,#cookie-banner details,#cookie-banner embed,#cookie-banner figure,#cookie-banner figcaption,#cookie-banner footer,#cookie-banner header,#cookie-banner hgroup,#cookie-banner menu,#cookie-banner nav,#cookie-banner output,#cookie-banner ruby,#cookie-banner section,#cookie-banner summary,#cookie-banner time,#cookie-banner mark,#cookie-banner audio,#cookie-banner video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
#cookie-banner html{line-height:1}
#cookie-banner ol,#cookie-banner ul{list-style:none}
#cookie-banner table{border-collapse:collapse;border-spacing:0}
#cookie-banner caption,#cookie-banner th,#cookie-banner td{text-align:left;font-weight:400;vertical-align:middle}
#cookie-banner q,#cookie-banner blockquote{quotes:none}
#cookie-banner q:before,#cookie-banner q:after,#cookie-banner blockquote:before,#cookie-banner blockquote:after{content:"";content:none}
#cookie-banner a img{border:none}
#cookie-banner article,#cookie-banner aside,#cookie-banner details,#cookie-banner figcaption,#cookie-banner figure,#cookie-banner footer,#cookie-banner header,#cookie-banner hgroup,#cookie-banner main,#cookie-banner menu,#cookie-banner nav,#cookie-banner section,#cookie-banner summary{display:block}
#cookie-banner *{-moz-box-sizing:border-box!important;-webkit-box-sizing:border-box!important;box-sizing:border-box!important;font-family:"Arial"!important}
#cookie-banner .fleft{float:left;padding:0 2% 0 10%;width:80%}
#cookie-banner .fright{float:right;padding:0 10% 0 0;width:20%}
#cookie-banner .button{color:#fff;font-weight:400;text-decoration:underline;-moz-transition:margin-left 500ms ease-out;-o-transition:margin-left 500ms ease-out;-webkit-transition:margin-left 500ms ease-out;transition:margin-left 500ms ease-out;-moz-appearance:initial;-webkit-appearance:initial}
#cookie-banner .dismiss{padding:2px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#fff;width:7%;font-weight:bold; display:none;}
#cookie-banner .dismiss a, #cookie-banner .dismiss a:hover, #cookie-banner .dismiss a:active, #cookie-banner .dismiss a:active{color:#fff}
#cookie-banner .accept{text-decoration:none;color:#fff;opacity:1;font-weight:bold; display:block; border-radius:5px; background-color:#09518a; width: 20%; min-width:150px; padding: 10px; text-align: center; margin-top: 20px;}
#cookie-banner .accept>span{-moz-transition:all 250ms ease-out;-o-transition:all 250ms ease-out;-webkit-transition:all 250ms ease-out;transition:all 250ms ease-out;background:#fa481c;display:inline-block;border-radius:50%;width:18px;height:18px;line-height:18px;font-size:12px;color:#fff;margin-left:10px;text-align:center}
#cookie-banner .accept:hover>span{-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);transform:scale(1.2,1.2)}
#cookie-banner .param{text-decoration:none;color:#fff;opacity:1;display:block; width: 20%; min-width:150px; }
.cookie-banner-top{top:0}

#cnil-modal-content{display:none}
#cnil-cookie-manage{display:none}

#simplemodal-overlay{background-color:#000}
#simplemodal-container{width:90%;min-height:600px;top:50px;color:#bbb;background-color:#EEE;border:4px solid #999;padding:12px;color:#000}
#simplemodal-container a{color:#0000D9}
#simplemodal-container a.simplemodal-close{width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:5px;right:-10px;cursor:pointer;font-size:150%;color:#000}
#simplemodal-container h2{color:#575748}
#simplemodal-container h3{color:#575748}
#simplemodal-container ul{list-style-type:square!important;margin:5px!important;padding:8px!important}
#simplemodal-container table th{background-color:#DDD}
#simplemodal-container table td,#simplemodal-container table th{border:1px solid #DDD!important;padding:5px!important}

@media only screen and (max-width:41px) {
	#cookie-banner .accept{ width: 20%; }
}
