<#include "minimal_header.html" />
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <img src="images/local/skin/home_question.png" alt="" title="" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-8">
          <h1>Ooops !</h1>
		  <h2>Nous avons rencontr&eacute; un petit probl&egrave;me technique.</h2>
		  <p>&nbsp;</p>
          <#if error_cause??>
            <div class="alert alert-danger" style="display:none;">
              ${error_cause}
            </div>
          </#if>
          <p>
            <a href="" class="btn btn-lg btn-info">
              <i class="fa fa-home"></i> &nbsp; #i18n{portal.util.labelBackHome}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<#include "minimal_footer.html" />
