<div id="homepage">

	<#-- ---------------------------------------- Who is BP panel ---------------------------------------- -->

	<div id="who-wrapper" class="container hidden-xs">
		<div class="row">
			<div class="col-xs-12">${htmlpage_1!}</div>
		</div>
	</div>

	<#-- ---------------------------------------- HomeMsg ---------------------------------------- -->

	<#assign date=""> 
	<#assign slogan=""> 
	<#assign button=""> 
	
	<#if campaignService?? > <#-- Class not instanciated when this page is indexed by SOLR. This test avoid a lot of message into logs. -->
		<#attempt>
			<#if     campaignService.isDuring( "PRE_IDEATION" ) >
				<#assign date = i18n("portal.openpb.homepage.mainLabel.PRE_IDEATION", campaignService.startStr("IDEATION", "dd MMMMM", true)?replace(" ","&nbsp;")?replace("1st","1<sup style=\"text-transform:lowercase\">st</sup>"))>
				
		
			<#elseif campaignService.isDuring( "IDEATION" ) >
				<#assign date = i18n("portal.openpb.homepage.mainLabel.IDEATION", campaignService.endStr("IDEATION", "dd MMMMM", true)?replace(" ","&nbsp;")?replace("1st","1<sup style=\"text-transform:lowercase\">st</sup>"))>
				<#assign button="<a class=\"btn btn-18rem btn-white-on-green \" href=\"jsp/site/Portal.jsp?page_id=2\">#i18n{portal.openpb.homepage.mainButton.IDEATION}</a>">
		
			<#elseif campaignService.isDuring( "POST_IDEATION" ) >
				<#assign date="#i18n{portal.openpb.homepage.mainLabel.POST_IDEATION}">
		
			<#elseif campaignService.isDuring( "PRE_SUBMIT" ) >
				<#assign date = i18n("portal.openpb.homepage.mainLabel.PRE_SUBMIT", campaignService.startStr("SUBMIT", "dd MMMMM", true)?replace(" ","&nbsp;")?replace("1st","1<sup style=\"text-transform:lowercase\">st</sup>"))>
		
			<#elseif campaignService.isDuring( "SUBMIT" ) >
				<#assign date="#i18n{portal.openpb.homepage.mainLabel.SUBMIT}">
				<#assign button="<a class=\"btn btn-18rem btn-white-on-green \" href=\"jsp/site/Portal.jsp?page=solrProjectSearch&conf=projects_submitted_list&sort_name=RANDOM\">#i18n{portal.openpb.homepage.mainButton.SUBMIT}</a>">
		
			<#elseif campaignService.isDuring( "PRE_VOTE" ) >
				<#assign date = i18n("portal.openpb.homepage.mainLabel.PRE_VOTE", campaignService.startStr("VOTE", "dd MMMMM", true)?replace(" ","&nbsp;")?replace("1st","1<sup style=\"text-transform:lowercase\">st</sup>"))>
				<#assign button="<a href=\"jsp/site/Portal.jsp?page=solrProjectSearch&conf=projects_submitted_list&sort_name=RANDOM\" class=\"btn btn-18rem btn-black-on-white\">#i18n{portal.openpb.homepage.mainButton.PRE_VOTE}</a>">
		
			<#elseif campaignService.isDuring( "VOTE" ) >
				<#assign date="#i18n{portal.openpb.homepage.mainLabel.VOTE}">
				<#assign button="<a href=\"jsp/site/Portal.jsp?page=solrProjectSearch&conf=projects_submitted_list&sort_name=RANDOM\" class=\"btn btn-24rem btn-black-on-white\">#i18n{portal.openpb.homepage.mainButton.VOTE}</a>">
		
			<#elseif campaignService.isDuring( "POST_VOTE" ) >
				<#assign date="#i18n{portal.openpb.homepage.mainLabel.POST_VOTE}">
		
			<#elseif campaignService.isDuring( "PRE_RESULT" ) >
				<#assign date = i18n("portal.openpb.homepage.mainLabel.PRE_RESULT", campaignService.startStr("RESULT", "dd MMMMM", true)?replace(" ","&nbsp;")?replace("1st","1<sup style=\"text-transform:lowercase\">st</sup>"))>
		
			<#elseif campaignService.isDuring( "RESULT" ) >
				<#assign date="#i18n{portal.openpb.homepage.mainLabel.RESULT}">
				<#assign button="<a class=\"btn btn-18rem btn-white-on-green \" href=\"jsp/site/Portal.jsp?page=solrProjectSearch&conf=projects_win\">#i18n{portal.openpb.homepage.mainButton.RESULT}</a>">
	
			<#else>
				<#assign date="#i18n{portal.openpb.homepage.mainLabel.DEFAULT}">
				
			</#if>
		<#recover>
		</#attempt>
	</#if>

	<div id="homemsg" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div id="homemsg-head">
						<span id="homemsg-head-msg">#i18n{portal.openpb.homepage.blackenedLabel}</span>
					</div>
					<div id="homemsg-date">${date!''}</div>
					<div id="homemsg-slogan">${slogan!''}</div>
					<div id="homemsg-button">${button!''}</div>
					<nav id="homemsg-foot">
						<ul>
							<li><a href="jsp/site/Portal.jsp?page=helpdesk&faq_id=3">#i18n{portal.openpb.homepage.mainButton.allInfosAboutPB}</a></li>
							<li><a href="jsp/site/Portal.jsp?page_id=3">#i18n{portal.openpb.homepage.mainButton.timeline}</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<#-- ---------------------------------------- Realization Focus ---------------------------------------- -->
	
	<div id="pgagn">
	
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
				
					<div id="pgagn-focus">
						${page_content_col7}
					</div>
					
					<div id="pgagn-discover">
						<p>#i18n{portal.openpb.homepage.realization.title}</p>
						<div class="final-btn">
							<a href="jsp/site/Portal.jsp?page=solrProjectSearch&sort_name=${RANDOM!123456789}_random&&conf=projects_real_list" class="btn btn-14rem btn-black-on-white">
								#i18n{portal.openpb.homepage.realization.learn}
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<#-- ---------------------------------------- Actualités ---------------------------------------- -->

	<div id="actus" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="actus-title">#i18n{portal.openpb.homepage.news.title}</div>
				</div>
			</div>
			${page_content_col5}
		</div>
	</div>


</div>