<#-- Bandeau 'Liens' -->
<div class="links-wrapper container-fluid">

	<div class="container">
		<div class="row">
			<div class="links col-xs-12">

				<#-- Logo MDP avec retour à l'accueil -->
				<div>&nbsp;</div>
			
				<#-- Liens textuels -->
				<ul>
					<li class="nav"><a href="jsp/site/Portal.jsp?page_id=4">Actualités</a></li>
					<li class="nav"><a href="jsp/site/Portal.jsp?page=htmlpage&amp;htmlpage_id=5">Mentions légales</a></li>
					<li class="nav"><a href="https://budgetparticipatif.paris.fr/bp/plugins/download/PB_in_Paris.pdf" target="_blank">English version</a></li>
					<li class="nav"><a href="http://fr.lutece.paris.fr">Propulsé par <strong>Lutèce</strong></a></li>
				</ul>

				<#-- Réseaux sociaux -->
				<div class="sharing">
					<a href="http://www.facebook.com/Paris" title="Follow us on Facebook">
						<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span>
					</a>
					<a href="http://www.twitter.com/lutecenews" title="Follow us on Twitter">
						<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
					</a>
				</div>
	
			</div>
		</div>
	</div>

</div>
